[Unit]
Description=runs rsync-backup.service nightly
 
[Timer]
OnCalendar=*-*-* 23:00:00
Persistent=true
Unit=rsync-backup.service
 
[Install]
WantedBy=timers.target
